<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="icon" type="image/png" href="http://binar-chapter-4.s3-website-ap-southeast-1.amazonaws.com/img/logo.png">
<link rel="stylesheet" href="css/style.css">
<title>Chapter 4 Challenge</title>
<h1>Halo <%= email %>!</h1>
<div id="app">This is index.ejs</div>
<noscript>Javascript gaada euy</noscript>
<script src="js/index.js">
</script>
